
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-input placeholder="Enter Your Name.." [(ngModel)]="loginName"></ion-input>
  <button ion-button (click)="submit()">Login</button>
</ion-content>
