<ion-header>
  <ion-navbar>
    <ion-title>
      Departments
    </ion-title>
    <button ion-button (click)="changePage()">Settings Page </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionInput)="getItems($event)">
  </ion-searchbar>
  <ion-list>
    <div  *ngFor="let item of data">
    <ion-item-sliding>
      <div>
      <ion-item >
     <h1>{{item.Name}}</h1>
     <h2>{{item.employ.length}}</h2>
     <button ion-button *ngFor="let ite of item.employ" (click)="delete(item._id, item.Name ,ite.Name)"> {{ite.Name}} </button><br>
   </ion-item>
      <ion-item-options>
        <button ion-button (click)="deleteDept(item._id, item.Name)">
        <ion-icon name="delete"></ion-icon>
        Delete
      </button>
      </ion-item-options>
      </div>
    </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
