
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-input placeholder="enter your department" [(ngModel)]="dept"></ion-input>
  <button ion-button full (click)="postData()">Submit</button>

  <ion-list>
    <div *ngFor="let item of data">
      <ion-item-sliding>
      <ion-item>
        {{item.Name}}
      </ion-item>
      <ion-item-options>
        <button ion-button (click)="deleteDept(item._id , item.Name)">
        <ion-icon name="delete"></ion-icon>
        Delete
      </button>
      </ion-item-options>
    </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
